.h300 {
    height: 300px;
}

.header {
    background-image: url(../img/imagem_inicio.jpeg);
    background-position: center;
}

.input {
    margin-top: 12rem;
}

.cards {
    background-size: 100%;
    background-color: #150E01;

}

.formBusca {
    height: 5rem;
    width: 30rem;
    border: solid 2px;


}